.head{
    display:flex;
    justify-content: space-between;
    background:black;
    align-items:center;
    padding: 15px 30px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap:20px;
}


.headlink ul{
    column-rule-color:white;
    list-style-type: style none;
    display:flex;
    justify-content:top right;
    gap:30px;
    flex
}
.grid-container{
    grid-template-columns:150px ;
    grid-template-rows: 80px;
    justify-content:right;
}
.grid container div{
    border: 2px solid black;
    grid-template: 50px;
    justify-content: center;
    justify-content: right;
}
.grid wrapper{
    display: flex;
    background-color: white;
    min-height: 600px;
    flex-direction: row;
}